.page-header {
  display: none;
  @include for-size(tablet-portrait) {
  }
  @include for-size(tablet-landscape) {
    display: block;
    padding: 23px 0 23px 0;
    border: 1px solid #ececec;
  }
  @include for-size(desktop) {
    display: block;
    padding: 24px 0 25px 0;
    border: 1px solid #ececec;
  }
}

.mobile-header {
  display: block;
  @include for-size(tablet-landscape) {
    display: none;
  }
}

.navigation {
  display: flex;

  align-items: center;
  margin-right: auto;
}

.list-item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}
.active {
  color: $hover-color;

  &::after {
    content: "";
    display: block;

    height: 4px;
    position: relative;
    top: 32px;

    background: #2196f3;
    border-radius: 2px;
  }
}

.contacts {
  color: $general-color;
  @include for-size(tablet-landscape) {
    display: flex;
  }
  @include for-size(desktop) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &:not(:last-child) {
    @include for-size(tablet-landscape) {
      margin-bottom: 10px;
    }
    @include for-size(desktop) {
      margin-right: 30px;
    }
  }
}
