.port-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $dark-color;
  text-decoration: none;
  padding-left: 24px;
  padding-top: 20px;

  margin: 0;
}

.p-sections {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding-left: 24px;
  color: $general-color;
  padding-top: 4px;
  margin: 0;
  padding-bottom: 20px;
}

.border-li {
  border: 1px solid #eeeeee;
}

.p-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 63px 22px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5556;
  letter-spacing: 0.03em;
  color: $white-color;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio {
  margin: 0;
  padding: 0;
  /* display: flex;*/

  width: calc((100% - 60px) / 3);
  margin-right: 30px;

  margin-bottom: 30px;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .p-description {
    transform: translateY(0%);
  }

  & > a {
    margin: 0;
    padding: 0;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}
